body {
    background-color: #f0ead6;
    margin: 5%;
    font-family: "American Typewriter", serif;
    line-height: 1.7;
}

@media screen and (max-width: 1200px) {
    img {
        width: 70%;
    }
    video {
        width: 70%;
    }
}

.header {
    margin: 25px;
    padding: 5px;
    text-align: center;
    background: #dec3cb;
    color: black;
    font-size: 30px;
}

h2 {
    margin: 25px 25px 25px 0px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

h3 {
    margin: 10px 10px 10px 0px;
    font-size: 16px;
    color: brown;
    font-weight: bold;
}

ul {
    list-style-type: none;
    border: px solid;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f6eddd;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}

nav li:hover {
    background-color: #623b1c;
    color: white;
}

.box {
    border: 3px solid;
}

img {
    margin: 10px 10px 10px 0px;
    border: 5px solid #af9483;
}

video {
    border: 5px solid #af9483;
}

.skiptomain{
    position: fixed;
    top: 10px;
    right: 16px;
    background-color: #fff;
    order: 1px solid #000;
    padding: 8px 15px;
    z-index: 999;
    color: #000;
    text-decoration: none;
    opacity: 0;
}

hr.dashed {
    border-top: 3px dashed #bbb;
}

.skiptomain:focus {
    opacity: 1;
}

.grid-container {
    display: grid;
}

.pet-photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.food-photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.places-photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.la-photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
